@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* *{
  margin: 0;
  padding: 0;
} */
/* html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: 	#1DB954;
  min-height: 100vh;
  
}


.title {
  color: white
}

div, button {
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
}

#button-wrapper {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: .5rem;
  border-radius: 25px;
}

#track-wrapper {
  display: flex;
  justify-content: center;
  
}

.track {
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 650px;
  background-color: black;
  color:white;
  border-radius: 25px;
}

.track-name {
  padding-right: 1rem;
}

.init-title {
  color: white;
}